<div class="table-responsive ">
<table class="table table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" onclick="checkAll(this)">ID</th>
        <th>角色名称</th>
        <th>日志信息</th>
        <th>Ip</th>
        <th>Url</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    {empty name="lists"}
    <tr><td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td></tr>
    <input type="hidden" name="test" value="1">
    {else/}
    {foreach $lists as $v}
    <tr>
        <td><input type="checkbox" name="ids[]" value="{$v.id}">{$v.id}</td>
        <td>{$v.user_name}</td>
        <td>{$v.log_info}</td>
        <td>{$v.log_ip}</td>
        <td>{$v.log_url}</td>
        <td>{$v.created_at}</td>
    </tr>
    {/foreach}
    {/empty}
    </tbody>
</table>
<div class="pull-right">
    {$page}
</div>
</div>
<script type="text/javascript">
    //分页
    $('.pagination a').click(function () {
        form = '';//表单id 全局变量
        p = $(this).data('p');//当前分页
        turl = "/admin/Admin/ajaxLogList/page/"+p;//url
        ajaxList(form,turl);
    });
</script>