{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>系统日志</h5>
                    <div class="ibox-content">
                        <div class="row">
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="ajax_return">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
{include file="public/footer" /}
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<script type="text/javascript">
    //第一页
    $(document).ready(function(){
        form = '';//表单id 全局变量
        p = 1;//当前分页
        turl = "/admin/Admin/ajaxLogList/page/"+p;//url
        ajaxList(form,turl);
    });
</script>
</body>
