{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="fa fa-bars"> 商品品牌管理</h5>
                    <div class="ibox-tools">
                        <a href="javascript:history.go(-1)"  title="返回">
                            <i class="fa fa-reply"> 返回</i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t"  method="post" action="{:url('goodsBrandHandle',['id'=>$id])}" id="btnForm">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌名称：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" class="form-control" name="name"  value="{$info.name}" placeholder="品牌名称">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属分类：</label>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <select class="form-control m-b chosen-select" name="goods_category_id">
                                        <option value="">请选择分类</option>
                                        {foreach $p_list as $k=>$v}
                                        <option value="{$v.id}" {eq name="info.goods_category_id" value="$v.id"}selected{/eq}>{:str_repeat('— ',$v.level*1)}{$v.cat_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌Logo：</label>
                            <div class="input-group col-sm-4">
                                <a  class="btn btn-info" href="javascript:void(0);" style="float: left" uploader="logo" data-url="{:url('Uploadify/jqUpload')}" data-path="goods" >+ 浏览文件
                                    <input type="hidden" name="logo" id="logo" value="{$info.logo}">
                                </a>
                                <img   id="logo_img" style="float:left;margin-left: 120px;margin-top: -10px; max-width: 200px;max-height: 100px"  onerror="this.src='/static/admin/images/no_img.jpg'" src="{$info.logo}"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否推荐：</label>
                            <div class="input-group col-sm-4">
                                <div class="radio i-checks">
                                    <input type="radio" name='is_hot' value="1" {eq name="info.is_hot" value="1"}checked{/eq} />推荐&nbsp;&nbsp;
                                    <input type="radio" name='is_hot' value="0" {if condition="$id gt 0 "}{eq name="info.is_hot" value="0"}checked{/eq}{else /}checked{/if} />不推荐
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 排序：</label>
                            <div class="input-group col-sm-4">
                                <input type="number" name="sort"  {if condition="$info.id gt 0"}value="{$info.sort}" {else /}value="10" {/if}placeholder="排序"  class="form-control" />
                                <span class="lbl"><i class="fa fa-info-circle"></i> 默认为10</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌描述：</label>
                            <div class="input-group col-sm-4">
                                <textarea name="desc"  cols="40" rows="5" placeholder="品牌描述">{$info.desc}</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a class="btn btn-primary" id="saveBtn"><i class="fa fa-save"></i> 保存</a>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    /*表单提交*/
    $("#saveBtn").click(function(){
        if(isEmpty('',$("input[name=name]").val(),'品牌名称不能为空') == false){return false;}
        if(isEmpty('',$("select[name=goods_category_id]").val(),'请选择所属商品分类') == false){return false;}
        if(isEmpty('',$("input[name=logo]").val(),'请上传品牌Logo') == false){return false;}
        $("#btnForm").submit()
    });

        //IOS开关样式配置
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var config = {
            '.chosen-select': {},
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
</script>
</body>
</html>