<div class="table-responsive ">
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" onclick="checkAll(this)">ID</th>
        <th>标题</th>
        <th>分类</th>
        <th>描述</th>
        <th>关键词</th>
        <th width="5%">排序</th>
        <th >状态</th>
        <th>是否推荐</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {empty name="lists"}
    <tr><td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td></tr>
    <input type="hidden" name="test" value="1">
    {else/}
    {foreach $lists as $v}
    <tr>
        <td><input type="checkbox" name="ids[]" value="{$v.id}">{$v.id}</td>
        <td>{$v.title}</td>
        <td>
        {foreach $cat_list as $kk=>$vv}
            {eq name="v.cat_id" value="$kk"}{$vv}{/eq}
        {/foreach}
        </td>
        <td>{$v.desc|handleStr=###,0,15,true}</td>
        <td>{$v.keywords|handleStr=###,0,15,true}</td>
        <td>
            <input type="number" value="{$v.sort}" data-id="{$v.id}" data-column="sort" data-table="article" data-msg="排序修改成功" onchange="updateSort(this)"  style="text-align:center;" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control">
        </td>
        <td>
            {eq name='v.is_show' value='0'}
            <i class="fa fa-check text-navy change-status hover-point"  data-value="1" data-cv="0" data-id="{$v.id}" data-column="is_show" data-table="article" data-msg="隐藏" data-todo="0" data-cur="显示" onclick="changeStatus(this)" > 显示</i>
            {else/}
            <i class="fa fa-close text-navy change-status hover-point"  data-value="0" data-cv="1" data-id="{$v.id}" data-column="is_show" data-table="article" data-msg="显示" data-todo="1" data-cur="隐藏" onclick="changeStatus(this)" > 隐藏</i>
            {/eq}
        </td>
        <td>
            {eq name='v.is_home' value='0'}
            <i class="fa fa-close text-navy change-status hover-point"  data-value="1" data-cv="0" data-id="{$v.id}" data-column="is_home" data-table="article" data-msg="推荐" data-todo="1" data-cur="不推荐" onclick="changeStatus(this)" > 不推荐</i>
            {else/}
            <i class="fa fa-check text-navy change-status hover-point"  data-value="0" data-cv="1" data-id="{$v.id}" data-column="is_home" data-table="article" data-msg="不推荐" data-todo="0" data-cur="推荐" onclick="changeStatus(this)" > 推荐</i>
            {/eq}
        </td>
        <td>{$v.created_at}</td>
        <td>{$v.update_at}</td>
        <td>
            <a href="{:url('articleHandle',['id'=>$v.id])}" class="btn btn-primary btn-xs">
                <i class="fa fa-pencil-square-o"></i> 编辑
            </a>&nbsp;&nbsp;
            <a href="javascript:;"class="btn btn-danger btn-xs" onclick="delBtn(this)" data-id="{$v.id}" data-name="{$v.title}" data-url="{:url('delArticle')}">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </td>
    </tr>
    {/foreach}
    {/empty}
    </tbody>
</table>
<div class="pull-right">
    {$page}
</div>
</div>
<script type="text/javascript">
    //分页
    $('.pagination a').click(function () {
        form = '';//表单id 全局变量
        p = $(this).data('p');//当前分页
        turl = "/admin/Article/ajaxArticleList/page/"+p;//url
        ajaxList(form,turl);
    });
</script>