{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="fa fa-bars"> 会员头衔处理</h5>
                    <div class="ibox-tools">
                        <a href="javascript:history.go(-1)"  title="返回">
                            <i class="fa fa-reply"> 返回</i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t"   id="btnForm">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">会员头衔名称：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" class="form-control" name="name"  value="{$info.name}" placeholder="会员头衔名称">
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 设置会员头衔</span>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="input-group col-sm-4">
                                <textarea type="text" rows="5" name="desc"  class="form-control" placeholder="描述" >{$info.desc}</textarea>
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>  会员等级描述信息</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">消费额度：</label>
                            <div class="input-group col-sm-2">
                                <input type="number" class="form-control" name="amount"  value="{$info.amount}" placeholder="消费额度">
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 设置会员等级所需要的消费额度</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">折扣率：</label>
                            <div class="input-group col-sm-2">
                                <input type="number" class="form-control" name="discount"  value="{$info.discount}" placeholder="折扣率">
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 折扣率单位为百分比，如输入90，表示该会员等级的用户可以以商品原价的90%购买</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed "></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a class="btn btn-primary" id="saveBtn"><i class="fa fa-save"></i> 保存</a>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

<script>
    /*表单提交*/
    $("#saveBtn").click(function(){
        if(isEmpty('',$("input[name=name]").val(),'会员头衔名称不能为空') == false){return false;}
        ajaxFormBtn("{:url('levelHandle',['id'=>$id])}",'btnForm');
    });

</script>
</body>
</html>