{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单列表</h5>
                    <div class="ibox-content">
                        <form action="" id="subForm" onsubmit="return false">
                        <div class="row">
                            <div class="col-sm-1" >
                                <input type="text"  class="form-control" name="keywords" value="" placeholder="订单号" />
                            </div>
                            <div class="col-sm-1" >
                                <input type="text"  class="form-control" name="keywords1" value="" placeholder="收货人" />
                            </div>
                            <div class="col-sm-1" >
                                <input class="form-control layer-date " placeholder="下单日期" name="start_time" time_plugin="start_time" data-min="input"  >
                            </div>
                            <div class="col-sm-1" >
                                <input class="form-control layer-date " placeholder="下单日期" name="end_time" time_plugin="end_time" data-min="start_time">
                            </div>
                            <div class="col-sm-1" >
                                <select class="form-control m-b " name="pay_status" >
                                    <option value="">支付状态</option>
                                    <option value="0">未支付</option>
                                    <option value="1">已支付</option>
                                </select>
                            </div>
                            <div class="col-sm-1" >
                                <select class="form-control m-b " name="pay_code" >
                                    <option value="">支付方式</option>
                                    <option value="alipay">支付宝</option>
                                    <option value="weixin">微信</option>
                                    <option value="cod">到货付</option>
                                </select>
                            </div>
                            <div class="col-sm-1" >
                                <select class="form-control m-b " name="shipping_status" >
                                    <option value="">发货状态</option>
                                    <option value="0">未发货</option>
                                    <option value="1">已发货</option>
                                    <option value="2">部分发货</option>
                                </select>
                            </div>
                            <div class="col-sm-1" >
                                <select class="form-control m-b " name="order_status" >
                                    <option value="">订单状态</option>
                                    {foreach $order_status as $k=>$v}
                                         <option value="{$k}">{$v}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="col-sm-1" >
                                    <button type="submit"  onclick="ajaxList('subForm','/admin/Order/ajaxOrderList/page/'+p)" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
                            </div>
                            <input type="hidden" name="order_by" value="" id="add_time">
                            <input type="hidden" name="sort" value="asc">
                            <div class="col-sm-1 pull-right">
                                <div class="btn-group pull-right"  role="group" style="clear: both">
                                    <a href="{:url('orderHandle',['id'=>0])}" class="btn btn-outline btn-default "><i class="fa fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        </form>

                        <div class="hr-line-dashed"></div>
                        <div id="ajax_return"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
{include file="public/footer" /}
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<script type="text/javascript">
    //第一页
    $(document).ready(function(){
        form = 'subForm';//表单id 全局变量
        p = 1;//当前分页
        turl = "/admin/Order/ajaxOrderList/page/"+p;//url
        ajaxList(form,turl);
    });

    // 点击排序
    function ajaxSort(field)
    {
        var sort =$("input[name=sort]").val();
        $("input[name='order_by']").val(field);
        if(sort=='asc'){
            $("input[name=sort]").val('desc');
        }else{
            $("input[name=sort]").val('asc');
        }
        ajaxList('subForm',turl);
    }
</script>
</body>
