<meta http-equiv="keywords" content="{$Think.config.web_site_keyword}" />
<meta name="description" content="{$Think.config.web_site_description}" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<link rel="stylesheet" type="text/css" href="/static/mobile/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/mobile/css/layer.css"/>
<link rel="stylesheet" href="/static/mobile/css/user.css">

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/mobile/js/touchslider.dev.js"></script>
<script type="text/javascript" src="/static/mobile/js/jquery.json.js"></script>
<script type="text/javascript" src="/static/mobile/js/common.js" ></script>
<script type="text/javascript" src="/static/mobile/js/mobile.js" ></script>

<script src="/static/mobile/js/layer/layer.js"></script>
<script type="text/javascript" src="/static/mobile/js/modernizr.js"></script>
<script src="/static/admin/js/global.js"></script>
